@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  background: $blue;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.navigation {
  font-size: 0.7em;
  padding-left: 0.5em;
  color: white;
}
.navigation2 {
  font-size: 0.7em;
  right: 15px;
  color: white;
  cursor: pointer;
  position: absolute;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background-image: linear-gradient(to bottom right, #00c4ff, #881e48);
  height: 80px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.35);
  width: 100%;
}
label.logo{
  color: white;
  font-size: 50px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: 'Brush Script MT', cursive;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 19px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;

}
.close{
  transform: translateX(-60rem);
  font-weight: 500;
}
a.active,a:hover{
  background-color: lighten(#2F8BC0, 10%);;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  //background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
.active2{
  display: none;
}
:root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

a {
  color: inherit;
}
a:hover {
  color: #7f8ff4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #2597CD;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #565A8A;
}
.btn--primary:active {
  background:#2597CD;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);

}
.btn--inside {
  height: 2.75rem;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);


}

.form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  outline: 0;
  padding: 11px 9px;
}
.form{
  position: relative;
  transform: translate(35%,20%);

}
.error2{
  position: relative;
  transform: translate(5%,-10%);
  color: red;
  font-size: 20px;
  font-family: "Times New Roman";

}
