<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Créer un nouveau quiz </h2>

    <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      <input [formControlName]="'name'" class="fadeIn second" id="name" placeholder=" Nom " type="text">
    </label>
    <br>
    <label for="theme">
      <input [formControlName]="'theme'" class="fadeIn second" id="theme" placeholder=" Thème " type="text">
    </label>
    <br>
    <input (click)="addQuiz()" (click)="redirectedToQuizList()"  class="fadeIn fourth" type="submit" value="Créer">
    </form>
</div>
