@import '../../styles/welcomin.css';

.question-center {
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 80px;
}

.img-container {
  max-width: 100%;
  max-height: 400px;
  object-fit: fill;
}

.answer-box-container {
  max-width: 100%;
  max-height: fit-content;
  display: block;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

.answer-box {
  flex: fit-content;
  width: auto;
  margin: 0.3em 0.5em 0.3em 0.5em;
  background-color: #5fbae9;
}
.answer-box:hover{
  cursor: pointer;
}
.passer:hover{
  cursor: pointer;
}
//button {
//  display: block;
//  padding: 0.2em 1em 0.2em 1em;
//}

.answer-right {
 background-color: darkgreen;
}

.answer-wrong {
  background-color: brown;
}

.page-switcher-container {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 100%;
  height: max-content;
  text-align: center;
}

.next-question, .previous-question {
  display: inline-block;
  margin: auto;
  width: 180px;
}

.show-answer-container {
  height: 70%;
}


@mixin butterfly($wing-img, $wing-width, $wing-height) {
  width: ( $wing-width * 2 ) - 10;
  height: $wing-height;

  /* Wings */
  &:before,
  &:after {
    position: absolute;
    width: $wing-width;
    height: $wing-height;

    content: url($wing-img);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  /* Right wing */
  &:before {
    transform: rotate3d(0, 0, 0, 180deg); /* Mirror left wing */
    transform-origin: center right;
    animation-name: rightwingani;
  }

  /* Left wing */
  &:after {
    transform-origin: top right;
    animation-name: leftwingani;
  }

}


@keyframes rightwingani {
  from {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 100deg);
  }
  70% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes leftwingani {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  30%  {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, 80deg);
  }

  70%{
    transform: rotate3d(0, 1, 0, 00deg);
  }

  to{
    transform: rotate3d(0, 1, 0, 00deg);
  }
}

.butterfly-large-right{
  @include butterfly('https://s3-us-west-2.amazonaws.com/s.cdpn.io/5536/wing.png', 178px, 208px);
  transform: rotate(-20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  right: 80px;
  top :180px;
}

.butterfly-large-left{
  @include butterfly('https://s3-us-west-2.amazonaws.com/s.cdpn.io/5536/wing.png', 178px, 208px);
  transform: rotate(20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  left: 80px;
  top :150px;
}

.butterfly-small {
  @include butterfly('https://s3-us-west-2.amazonaws.com/s.cdpn.io/5536/wing-small.png', 75px, 87px);
  transform: rotate(-0deg)  scale(0.8, 0.8);
  transform-origin: top left;
  position: absolute;
  top: 620px;
  left: 700px;

}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #e0e5ec;
}
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
//button {
//  margin: 20px;
//  outline: none;
//}
.custom-btn {
  width: fit-content;
  height: 40px;

  padding: 0px 10px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: grid;
  border-radius: 50%;

}


/* 1 */
.btn-1 {
  transition: all 0.3s ease;

  width:  160px;
  padding: 0px 10px;
  background: #d2cbcb;
  font-size: 16px;
  font-weight: 700;

}
.btn-1:hover {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}
.btn-1mod {
  transition: all 0.3s ease;
  width:  160px;
  padding: 0px 10px;
  background: #d2cbcb;
  font-size: 16px;
  font-weight: 700;
}
.btn-1mod:hover {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}




.fill {
  --color: #3286BB;
  --hover: #44b5ff;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 1.075rem;
  border-radius: 32px;
  display: inline;
  font-size: 16px;
  box-sizing: border-box;
  flex: fit-content;
  overflow: auto;

}
.fill:hover,
.fill:focus {
  cursor: pointer;

}
//button {
//  margin: 20px;
//  display: block;
//  outline: none;
//}
button {
  color: var(--color);
  transition: 0.25s;
  font-weight: 700;

  background: none;
  border: 2px solid;
  display: block;
  margin: 0.5em;
  outline: none;
  padding: 0.2em 1em 0.2em 1em;

}
button:hover, button:focus {
  border-color: var(--hover);
  color: #000000;
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}
.gg-arrow-right-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 20px
}

.gg-arrow-right-o::after,
.gg-arrow-right-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px
}

.gg-arrow-right-o::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 6px
}

.gg-arrow-right-o::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
  font-size: 80px;

}

.previous {
  background-color: grey;
  color: black;
}

.next {
  background-color: grey;
  color: white;
  font-size: 20px;
}

.round {
  border-radius: 50%;
}

.disabled {
  // filter: blur(2px) !important;
  cursor: initial !important;
  filter: contrast(0.2) !important;
}

.next2{
  font-size:30px;

  position: relative;
  bottom: 0;
  //right: 400px;
  top: 20px;
  left: 100%;
  cursor: pointer;
  color: grey;
  display: grid;
}
.previous2 {
  font-size: 30px;

  position: relative;
  bottom: 0;
  top: 20px;
  right: 100%;
  cursor: pointer;
  color: grey;
  display: grid;


}
