@import '../../styles/welcomin.css';

.question-center {
  margin: auto;
  width: 60%;
  text-align: center;
}

.img-container {
  background-color: #3f51b5;
  max-width: 300px;
  max-height: 400px;
  object-fit: fill ;
}

.answer-box-container {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.answer-box {
  flex: fit-content;
  width: auto;
  margin: 0.3em 0.5em 0.3em 0.5em;
  background-color: #5fbae9;
}
.answer-box:hover{
  cursor: pointer;
}
.passer:hover{
  cursor: pointer;
}
button {
  display: block;
  padding: 0.2em 1em 0.2em 1em;
}

.answer-right {
 background-color: darkgreen;
}

.answer-wrong {
  background-color: brown;
}

.page-switcher-container {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: max-content;
  text-align: center;
}

.next-question, .previous-question {
  display: inline-block;
  margin: auto;
  width: 100px;
}

.show-answer-container {
  height: 70%;
}
