<h2>{{quiz.name}}</h2>
<div class="full">
  <div class="question-center">
    <div class="img-container">{{quiz.questions[indexQuiz].file}}</div>
    <h3>{{quiz.questions[indexQuiz].label}}</h3>
      <div class="answer-box-container" *ngFor="let ans of quiz.questions[indexQuiz].answers">
        <button class="answer-box">{{ans.value}}</button>
      </div>
  </div>
  <div class="page-switcher-container">
    <div class="previous-question">
      <a>précédente {{indexQuiz - 1}}</a>
    </div>
    <div class="next-question">
      <a>suivante {{indexQuiz + 1}}</a>
    </div>
  </div>
</div>
