<!--

<div class="container">
  <form id ="contact" class="quiz-form" [formGroup]="questionForm">
    <h3>Créer une nouvelle question
    </h3>


&lt;!&ndash;    <label for="label">&ndash;&gt;
&lt;!&ndash;      Url de l'image&ndash;&gt;
&lt;!&ndash;      <br>&ndash;&gt;
&lt;!&ndash;      <input class="input-custom" type="text" id="image" [formControlName]="'image'">&ndash;&gt;
&lt;!&ndash;    </label>&ndash;&gt;
    <fieldset>
      <input placeholder=" Url de l'image" type="text" id="image" [formControlName]="'image'" >
    </fieldset>
&lt;!&ndash;    <label for="label">&ndash;&gt;
&lt;!&ndash;      <br>&ndash;&gt;
&lt;!&ndash;      Url de l'audio ou de la vidéo&ndash;&gt;
&lt;!&ndash;      <br>&ndash;&gt;
&lt;!&ndash;      <input class="input-custom" type="text" id="audio" [formControlName]="'audio'">&ndash;&gt;
&lt;!&ndash;    </label>&ndash;&gt;
    <fieldset>
      <input placeholder="Url de l'audio ou de la vidéo" type="text" id="audio" [formControlName]="'audio'" >
    </fieldset>
    <fieldset>
      <input placeholder="Indice de la question (thème expression)" type="text" id="indice" [formControlName]="'indice'" >
    </fieldset>

&lt;!&ndash;    <label for="label">&ndash;&gt;
&lt;!&ndash;      <br>&ndash;&gt;
&lt;!&ndash;      Titre <br>&ndash;&gt;
&lt;!&ndash;      <input class="input-custom" type="text" id="label" [formControlName]="'label'">&ndash;&gt;
&lt;!&ndash;    </label>&ndash;&gt;
    <fieldset>
      <input placeholder="Titre" type="text" id="label" [formControlName]="'label'" >
    </fieldset>

    <br>
    <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
&lt;!&ndash;          <label>&ndash;&gt;
&lt;!&ndash;            Réponse&ndash;&gt;
&lt;!&ndash;            <input type="text" [formControlName]="'value'">&ndash;&gt;
&lt;!&ndash;            <br>&ndash;&gt;
&lt;!&ndash;            correcte ?&ndash;&gt;
&lt;!&ndash;            <input type="checkbox" [formControlName]="'isCorrect'">&ndash;&gt;
&lt;!&ndash;          </label>&ndash;&gt;
          <fieldset>
            <input placeholder="Réponse" type="text" [formControlName]="'value'" >
&lt;!&ndash;            <input ptype="checkbox" [formControlName]="'isCorrect'">&ndash;&gt;
          </fieldset>


            <label> correcte ?
              <input  class="roundedTwo" type="checkbox" [formControlName]="'isCorrect'"></label>




        </div>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuestion()">Créer la question</button>
  </form>
</div>-->

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Créer une nouvelle question </h2>

    <form class="quiz-form" [formGroup]="questionForm">
      <label>
        <input [formControlName]="'label'" class="fadeIn second" id="label" placeholder=" Titre " type="text">
      </label>
      <br>
      <label for="image">
        <input [formControlName]="'image'" class="fadeIn second" id="image" placeholder=" Url de l'image " type="text">
      </label>
      <label for="audio">
        <input [formControlName]="'audio'" class="fadeIn second" id="audio" placeholder=" Url de l'audio " type="text">
      </label>
      <label for="indice">
        <input [formControlName]="'indice'" class="fadeIn second" id="indice" placeholder=" Indice " type="text">
      </label>
      <br>
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">

            <fieldset>
              <input placeholder="Réponse" type="text" [formControlName]="'value'" >
            </fieldset>
            <label> correcte ?
              <input  class="roundedTwo" type="checkbox" [formControlName]="'isCorrect'"></label>
          </div>
        </div>
      </div>
      <input (click)="addQuestion()"  class="fadeIn fourth" type="submit" value="Créer la question">
    </form>
  </div>
</div>

