
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">Créer une nouvelle question</h2>


    <form [formGroup]="questionForm">
      <input [formControlName]="'image'" class="fadeIn second" id="image"  placeholder=" Url de l'image ou de la vidéo" type="text">
      <input [formControlName]="'audio'" class="fadeIn third" id="audio"  placeholder="Url de l'audio" type="text">
      <input [formControlName]="'label'" class="fadeIn third" id="label"  placeholder="Titre" type="text">
      <br>
      <button class="button-card2 fadeIn fourth" (click)="addAnswer()">Ajouter une réponse</button>
      <div class="answer" formArrayName="answers">
        <div *ngFor="let address of answers.controls; let i=index">
          <div class="answer-form" [formGroupName]="i">
            <input [formControlName]="'value'" class=""   placeholder="Réponse" type="text">
            <label>
              <br>

              <input  class="" type="checkbox" [formControlName]="'isCorrect'">correcte ?</label>
          </div>
        </div>
      </div>
      <button type="submit" class="button fadeIn fourth" (click)="addQuestion()">Créer la question</button>

      <!--      <input (click)="login()" class="fadeIn fourth" type="submit2" value="Commencer à jouer">-->
    </form>

  </div>
