<div class="card">
  <h2>Créer une nouvelle question</h2>
  <!--<app-question-upload [uploadType]="uploadType"></app-question-upload>-->

  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Url de l'image
      <br>
      <input class="input-custom" type="text" id="image" [formControlName]="'image'">
    </label>
    <label for="label">
      <br>
      Url de l'audio ou de la vidéo
      <br>
      <input class="input-custom" type="text" id="audio" [formControlName]="'audio'">
    </label>
    <label for="label">
      <br>
      Titre <br>
      <input class="input-custom" type="text" id="label" [formControlName]="'label'">
    </label>
    <br>
    <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse
            <input type="text" [formControlName]="'value'">
            <br>
            correcte ?
            <input type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addQuestion()">Créer la question</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
