<div>
  <br>
  <button (click)="LogOut()" class="bi bi-box-arrow-right">Déconnexion</button>
</div>

<div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz [quiz]="quiz" (quizPlayed)="playQuiz($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
    </div>
  </div>
<div>
  Créer un quiz
  <div class="plus" id="plus">
    <div class="plus__line plus__line--v" (click)="redirectToQuizForm()">

    </div>
    <div class="plus__line plus__line--h"(click)="redirectToQuizForm()"></div>
  </div>
</div>
