<div>
  <br>
  <button (click)="LogOut()" class="custom-btn2 btn-1mod">Déconnexion</button>
</div>

<div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz [quiz]="quiz" (quizPlayed)="playQuiz($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
    </div>
  </div>
<div>
  Créer un quiz
  <div class="plus" id="plus" (click)="redirectToQuizForm()">
    <div class="plus__line plus__line--v" >

    </div>
    <div class="plus__line plus__line--h"></div>
  </div>
</div>
