@import '../../styles/welcomin.css';

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  margin-top: 80px;
  width: 90%;
  position: relative;
  padding: 20px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);


}
.body{
  text-align: center;
  justify-content: center;
  align-content: center;

}

.imgWelcome {
  width: 80%;

}
.wrapper2 {
  width: 841px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 200%;
  text-align: center;
  align-content: center;

}
.fadeInDown2 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
