<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="TitleText">Page d'inscription</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="admin">
        S'inscrire en tant qu'Administrateur
        <input type="checkbox" id="admin" [formControlName]="'admin'">
      </label>
      <label for="email">
        <input class="fadeIn second" type="text" id="email" placeholder="E-mail" [formControlName]="'email'">
      </label>
      <label for="firstName">
        <input class="fadeIn second" type="text" id="firstName" placeholder="Prénom" [formControlName]="'firstName'">
      </label>
      <label for="lastName">
        <input class="fadeIn second" type="text" id="lastName" placeholder="Nom" [formControlName]="'lastName'">
      </label>
      <label for="statcode" *ngIf="!isAdminSignup()">
        <input class="fadeIn second" type="text" id="statcode" placeholder="Code Statistique" [formControlName]="'statcode'">
      </label>
      <label for="admincode" *ngIf="isAdminSignup()">
        <input type="text" id="admincode" placeholder="Code Admin">
      </label>
      <label for="password">
        <input class="fadeIn second" type="text" id="password" placeholder="Mot de passe" [formControlName]="'password'">
      </label>
      <br>
      <input type="submit" class="fadeIn fourth" (click)="addUser() " value="S'inscrire">
<!--      <button type="button" class="button-card" (click)="showUser()">SHOW USER</button>-->
    </form>
  </div>
</div>
