<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>Page d'inscription</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="email">
        Email <br>
        <input class="fadeIn second" type="text" id="email" [formControlName]="'email'">
        <br>
      </label>
      <label for="firstName">
        Prénom <br>
        <input class="fadeIn second" type="text" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Nom <br>
        <input class="fadeIn second" type="text" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <label for="statcode">
        Code Statistique <br>
        <input class="fadeIn second" type="text" id="statcode" [formControlName]="'statcode'">
      </label>
      <br>
      <label for="password">
        Mot de passe <br>
        <input class="fadeIn second" type="text" id="password" [formControlName]="'password'">
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addUser()" routerLink='/login'>S'inscrire</button>
    </form>
  </div>
</div>
