<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2>Page d'inscription</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="admin">
        S'inscrire en tant qu'Administrateur
        <input type="checkbox" id="admin" [formControlName]="'admin'">
      </label>
      <br><br>
      <label for="email">
        Email <br>
        <input class="fadeIn second" type="text" id="email" [formControlName]="'email'">
        <br>
      </label>
      <label for="firstName">
        Prénom <br>
        <input class="fadeIn second" type="text" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Nom <br>
        <input class="fadeIn second" type="text" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <label for="statcode" *ngIf="!isAdminSignup()">
        Code Statistique <br>
        <input class="fadeIn second" type="text" id="statcode" [formControlName]="'statcode'">
      </label>
      <label for="admincode" *ngIf="isAdminSignup()">
        Code Admin <br>
        <input type="text" id="admincode">
      </label>
      <br>
      <label for="password">
        Mot de passe <br>
        <input class="fadeIn second" type="text" id="password" [formControlName]="'password'">
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addUser()">S'inscrire</button>
<!--      <button type="button" class="button-card" (click)="showUser()">SHOW USER</button>-->
    </form>
  </div>
</div>
