
<!--<div class="card">-->
<!--    <h2>-->
<!--        <i class="fab fa-leanpub"></i>-->
<!--        {{quiz.name}}-->
<!--    </h2>-->
<!--    <button class="button-card" (click)="playQuiz()">Jouer</button>-->
<!--    <button class="button-card" (click)="delete()">Supprimer</button>-->
<!--    <button class="button-card edit" routerLink="/edit-quiz/{{quiz.id}}">Editer</button>-->
<!--</div>-->
<!--  <style>-->
<!--    body {-->
<!--      background-image: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');-->
<!--    }-->
<!--  </style>-->
<!--<body>-->
<div ><figure class="snip1543 position" xmlns:width="http://www.w3.org/1999/xhtml">
<!--  <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2019-11/03/full/1572796865-0693.jpg?im=Resize,width=1200" alt="sample108" style="width:100%;-->
<!--  background-image: linear-gradient(to bottom right, #00c4ff, #881e48);-->

<!-- " />-->
  <figcaption>

    <div class="content">
      <h2 class="title2">{{quiz.name}}</h2>
      <div class="theme">
        <span>
          <br >Theme: {{quiz.theme}}
        </span>
      </div>



    </div>

  </figcaption>


</figure>
</div>

<div class ="relative2"><h5>
  <button class="fill" (click)="playQuiz()" >Jouer</button>
  <button class="fill " routerLink="/edit-quiz/{{quiz.id}}">Editer</button>
  <button class="fill" (click)="delete()">Supprimer</button> </h5>
</div>


