@import '../../../styles/card.scss';

.edit {
    margin-left: 0.3em;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  margin: 10px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: grid;
  background-image: linear-gradient(to bottom right, #00c4ff, #881e48);
  height: 400px;
  width: 400px;
  max-width: 1700px;



  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);


}

.title2 {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  transform: translateY(150%);
  font-family: 'Bowlby One SC', cursive;
  clear: both;
  display: flex;
  margin: 40px 20px 10px 8px;
  justify-content: center;
  text-transform: uppercase;



}

.theme {
  font-size: 1rem;
  color: yellow;
  display: flex;
  justify-content: center;
  font-weight: 500;
  transform: translateY(150%);

  line-height: 1.2;
  font-family: 'Bowlby One SC', cursive;
  margin : 20px 20px 0 0;


}
//.po
//
//
//.snip1543 *,
//.snip1543 *:before,
//.snip1543 *:after {
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//  -webkit-transition: all 0.45s ease;
//  transition: all 0.45s ease;
//  flex-basis: 100%;
//}
//
//.snip1543 img {
//  backface-visibility: visible;
//  max-width: 100%;
//  vertical-align: top;
//}
//
//.snip1543:before,
//.snip1543:after {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  content: "";
//  background-color: #b81212;
//  opacity: 0.5;
//  -webkit-transition: all 0.45s ease;
//  transition: all 0.45s ease;
//}
//
//.snip1543:before {
//  -webkit-transform: skew(30deg) translateX(-80%);
//  transform: skew(30deg) translateX(-80%);
//}
//
//.snip1543:after {
//  -webkit-transform: skew(-30deg) translateX(-70%);
//  transform: skew(-30deg) translateX(-70%);
//}
//
//.snip1543 figcaption {
//  position: absolute;
//  top: 0px;
//  bottom: 0px;
//  left: 0px;
//  right: 0px;
//  z-index: 1;
//  bottom: 0;
//  padding: 25px 40% 25px 20px;
//}
//
//.snip1543 figcaption:before,
//.snip1543 figcaption:after {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  background-color: #b81212;
//  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
//  content: "";
//  opacity: 0.5;
//  z-index: -1;
//}
//
//.snip1543 figcaption:before {
//  -webkit-transform: skew(30deg) translateX(-100%);
//  transform: skew(30deg) translateX(-100%);
//}
//
//.snip1543 figcaption:after {
//  -webkit-transform: skew(-30deg) translateX(-90%);
//  transform: skew(-30deg) translateX(-90%);
//}
//
//.snip1543 h3,
//.snip1543 p {
//  margin: 0;
//  opacity: 0;
//  letter-spacing: 1px;
//}
//
//.snip1543 h3 {
//  font-family: "Teko", sans-serif;
//  font-size: 36px;
//  font-weight: 700;
//  line-height: 1em;
//  text-transform: uppercase;
//}
//
//.snip1543 p {
//  font-size: 0.9em;
//}
//
//.snip1543 a {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  z-index: 1;
//}
//
//.snip1543:hover h3,
//.snip1543.hover h3,
//.snip1543:hover p,
//.snip1543.hover p {
//  -webkit-transform: translateY(0);
//  transform: translateY(0);
//  opacity: 0.9;
//  -webkit-transition-delay: 0.2s;
//  transition-delay: 0.2s;
//}
//
//.snip1543:hover:before,
//.snip1543.hover:before {
//  -webkit-transform: skew(30deg) translateX(-20%);
//  transform: skew(30deg) translateX(-20%);
//  -webkit-transition-delay: 0.05s;
//  transition-delay: 0.05s;
//}
//
//.snip1543:hover:after,
//.snip1543.hover:after {
//  -webkit-transform: skew(-30deg) translateX(-10%);
//  transform: skew(-30deg) translateX(-10%);
//}
//
//.snip1543:hover figcaption:before,
//.snip1543.hover figcaption:before {
//  -webkit-transform: skew(30deg) translateX(-40%);
//  transform: skew(30deg) translateX(-40%);
//  -webkit-transition-delay: 0.15s;
//  transition-delay: 0.15s;
//}
//
//.snip1543:hover figcaption:after,
//.snip1543.hover figcaption:after {
//  -webkit-transform: skew(-30deg) translateX(-30%);
//  transform: skew(-30deg) translateX(-30%);
//  -webkit-transition-delay: 0.1s;
//  transition-delay: 0.1s;
//}
/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows on hover/focus as non-hover/focus (even if you have to create a transparent shadow) so the animation is smooth. Otherwise, you'll get something choppy.
*/
.fill:hover,
.fill:focus {
  //box-shadow: inset 0 0 0 2em var(--hover);
  cursor: pointer;

}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 9em 0 0 0 var(--hover);
  cursor: pointer;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 9em 3.5em 0 0 var(--hover);
  cursor: pointer;
}

.fill {
  --color: #3286BB;
  --hover: #64e75f;
  height: 50px;
  width: 121.33px;
  line-height: 0.5em;
  font-size: 12px;
  border-radius: 64px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
  height: 50px;
  width: 98px;
  text-align: center;
  line-height: 0.5em;
  font-size: 12px;

}

.offset {
  --color: #19bc8b;
  --hover: #f50707;
  height: 50px;
  width: 98px;
  text-align: center;
  line-height: 0.5em;
  font-size: 12px;

}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #000000;
}

body {
  color: #fff;
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}
.posi{
  margin-left: 10px;
  font-weight: 700;
}

