<!--<div>-->
<!--  <br>-->
<!--  <button (click)="EnterStatCode()" class="bi bi-bar-chart-line">Stat</button>-->
<!--</div>-->
<!--<div>-->
<!--  <button (click)="LogOut()" class="bi bi-box-arrow-right">Déconnexion</button>-->
<!--</div>-->



<!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a (click)="EnterStatCode()">Stat</a>
    <form [formGroup]="statCodeForm" *ngIf="showStatcCodeInput">
      <input formControlName ="statCode" id="statCode" name="statCode" placeholder="Code statistique" type="password">
      <input (click)="loginToStat()" type="submit" value="Entrez">
    </form>
    <a (click)="LogOut()">Déconnexion</a>

  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
<span style="font-size:30px;cursor:pointer;" (click)="openNav()">&#9776; open</span>

<!-- StatCode Form -->


<h3 class="title-lstquiz">
  Liste des quiz

</h3>

<div class="quiz-list">
  <div *ngFor="let quiz of quizList" class="quiz">
    <app-userquiz (quizPlayed)="quizPlay($event)" [quiz]="quiz"></app-userquiz>
  </div>
</div>
